@import 'govuk-frontend';

.hidden-content {
  display: none;
}

.visible-content {
  display: block;
}

.govuk-button--secondary {
  margin-bottom: 0;
}

.govuk-input-password {
  margin-bottom: 30px;
}

@media (max-width: 640px) {

  .govuk-button--secondary {
    margin-top: 20px;
  }

  .govuk-button-password--secondary {
    margin-bottom: 20px;
  }

  .govuk-input-password {
    margin-bottom: 0;
  }
}

.govuk-heading-l {
  margin-top: 30px;
}

.chart-container {
  border: 1px solid #ccc;
  padding: 15px;
}

.chart-keys-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-keys {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 16px;
}

.chart-key {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.key-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.key-box-1 {
  background-color: #12436d;
}

.key-box-2 {
  background-color: #28a197;
}

.key-box-3 {
  background-color: #801650;
}

.key-box-4 {
  background-color: #f46a25;
}

.key-label {
  color: #0b0c0c;
  font-weight: bold;
}

.expand-button {
  margin-left: auto;
  padding: 8px 16px;
  margin-bottom: 0;
}

.chart-container.expanded {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.chart-row {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #fff;
  border-spacing: 0 5px;
  position: relative;
  font-size: 16px;
  font-family: "GDS Transport", arial, sans-serif;
}

.chart-label {
  min-width: 5rem;
  font-weight: bold;
  font-family: "GDS Transport", arial, sans-serif;
}

.chart-bar {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.bar-segment {
  display: block;
  margin-bottom: 1px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  padding: 15px;
}

.bar-segment-1 {
  background-color: #12436d;
}

.bar-segment-2 {
  background-color: #28a197;
}

.bar-segment-3 {
  background-color: #801650;
}

.bar-segment-4 {
  background-color: #f46a25;
  color: #0b0c0c;
}

.bar-segment-5 {
  background-color: #3d3d3d;
}

.bar-segment-6 {
  background-color: #a285d1;
  color: #0b0c0c;
}

.chart-total {
  min-width: 3rem;
  text-align: left;
  font-weight: bold;
  margin-left: 1rem;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.line-graph {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.line-graph-svg {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.line-graph-x-axis {
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 14px;
}

.line-graph-axis {
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 14px;
}

.chart-keys {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.chart-key {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.key-box-1 {
  background-color: #12436d;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.key-box-4 {
  background-color: #f46a25;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.key-label {
  font-weight: bold;
  color: #0b0c0c;
}

.govuk-pagination {
  margin-bottom: 10px;
}
