{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot admin
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border",
    homepageUrl: "/admin",
    pageTitle: "HMCTS chatbot admin"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "HMCTS chatbot admin",
    navigation: [
      {
        href: "/admin",
        text: "Home"
      },
      {
        href: "/account-requests",
        text: "Requests",
        active: true
      },
      {
        href: "/manage-accounts",
        text: "Manage Accounts"
      },
      {
        href: "/update-banner",
        text: "Update Banner"
      },
      {
        href: "/account",
        text: "Account"
      },
      {
        href: "/logout",
        text: "Logout",
        attributes: {
        id: "logoutLink"
      }
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Account requests</h1>

  <!-- Accepted Alert -->
  {% if accepted %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The account request has been accepted
        </h3>
        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
      </div>
    </div>
  {% endif %}

  <!-- Rejection Summary -->
  {% if rejected %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The account request has been rejected
        </h3>
        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
      </div>
    </div>
  {% endif %}

  <table class="govuk-table govuk-table--small-text-until-tablet">
    <caption class="govuk-table__caption govuk-table__caption--m">Account Requests</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Request ID</th>
      <th scope="col" class="govuk-table__header">User Name</th>
      <th scope="col" class="govuk-table__header">Email</th>
      <th scope="col" class="govuk-table__header">Request Type</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Submitted Date</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body"></tbody>
  </table>

  <nav class="govuk-pagination" aria-label="Pagination">
    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
      </a>
    </div>
    <ul class="govuk-pagination__list">
      <li class="govuk-pagination__item govuk-pagination__item--current">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
          1
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
          2
        </a>
      </li>
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
          3
        </a>
      </li>
    </ul>
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </div>
  </nav>

  <script src="requestPage-dev.js"></script>
  <script src="logout-dev.js"></script>

{% endblock %}
