{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot admin
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: __("appName")
  }) }}
{% endblock %}

{% block content %}
  <div class="language-select" aria-label="Language switcher">
    <ul class="language-select__list">
      <li class="language-select__list-item">
        {% if lang == "cy" %}
          <a href="?lang=en" class="govuk-link">English</a>
        {% else %}
          <span aria-current="true">English</span>
        {% endif %}
      </li>
      <li class="language-select__list-item">
        {% if lang == "cy" %}
          <span aria-current="true">Cymraeg</span>
        {% else %}
          <a
            href="?lang=cy"
            hreflang="cy"
            lang="cy"
            rel="alternate"
            class="govuk-link"
            data-journey-click="link - click:lang-select:Cymraeg"
          >
            <span class="govuk-visually-hidden">
              Newid yr iaith i’r Gymraeg
            </span>
            <span aria-hidden="true">Cymraeg</span>
          </a>
        {% endif %}
      </li>
    </ul>
  </div>

  <h1 class="govuk-heading-xl">{{ __("errorSomethingWentWrongHeading") }}</h1>

{% endblock %}
