{% extends "govuk/template.njk" %}

{% block pageTitle %}
  HMCTS chatbot admin
{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "webpack/js.njk" %}
{% endblock %}
