{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block pageTitle %}
  HMCTS chatbot admin
{% endblock %}

{% block header %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: __("appName"),
    navigation: [
      {
        href: "/admin",
        text: "Home"
      },
      {
        href: "/account-requests",
        text: "Requests"
      },
      {
        href: "/manage-accounts",
        text: "Manage Accounts"
      },
      {
        href: "/update-banner",
        text: "Update Banner",
        active: true
      },
      {
        href: "/account",
        text: "Account"
      },
      {
        href: "/logout",
        text: "Logout",
        attributes: {
        id: "logoutLink"
      }
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="language-select" aria-label="Language switcher">
    <ul class="language-select__list">
      <li class="language-select__list-item">
        {% if lang == "cy" %}
          <a href="?lang=en" class="govuk-link">English</a>
        {% else %}
          <span aria-current="true">English</span>
        {% endif %}
      </li>
      <li class="language-select__list-item">
        {% if lang == "cy" %}
          <span aria-current="true">Cymraeg</span>
        {% else %}
          <a
            href="?lang=cy"
            hreflang="cy"
            lang="cy"
            rel="alternate"
            class="govuk-link"
            data-journey-click="link - click:lang-select:Cymraeg"
          >
            <span class="govuk-visually-hidden">
              Newid yr iaith i’r Gymraeg
            </span>
            <span aria-hidden="true">Cymraeg</span>
          </a>
        {% endif %}
      </li>
    </ul>
  </div>

  <h1 class="govuk-heading-xl">Update banner</h1>

  <!-- Success Alert -->
  {% if updated %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          The banner was updated successfully
        </h3>
        <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
      </div>
    </div>
  {% endif %}

  <!-- Banner Preview -->
  <div id="banner-preview">
    {{ govukPanel({
      titleText: bannerTitle or "Contact Support Team",
      html: bannerBody or "If you need assistance, please call us at <strong>0800 123 456</strong> or email <a href='mailto:support@example.com'>support@example.com</a>."
    }) }}
  </div>

  <!-- Banner Update Form -->
  <form id="bannerUpdateForm" action="/update-banner" method="post" class="govuk-!-margin-top-5" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label" for="bannerTitle">Banner Title</label>
      <input
        class="govuk-input govuk-!-width-two-thirds"
        id="bannerTitle"
        name="bannerTitle"
        type="text"
        value="{{ bannerTitle or "Contact Support Team" }}"
        autocomplete="off"
      >
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="bannerBody">Banner Content</label>
      <textarea
        class="govuk-textarea govuk-!-width-two-thirds"
        id="bannerBody"
        name="bannerBody"
        rows="5"
      >{{ bannerBody or "If you need assistance, please call us at <strong>0800 123 456</strong> or email <a href='mailto:support@example.com'>support@example.com</a>." }}</textarea>
    </div>

    {{ govukButton({
      text: "Save Changes",
      type: "submit"
    }) }}
    {{ govukButton({
      text: "Preview",
      classes: "govuk-button--secondary",
      attributes: {
        id: "previewButton",
        type: "button"
      }
    }) }}
    {{ govukButton({
      text: "Discard",
      classes: "govuk-button--warning",
      attributes: {
        id: "discardButton",
        type: "button"
      }
    }) }}
  </form>

  <script src="updateBanner-dev.js" defer></script>
  <script src="logout-dev.js"></script>

{% endblock %}
